@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@{
    Layout = null;
}

<h2>@ViewBag.Title</h2>


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/css/templatemo-style.css" rel="stylesheet">
<link href="~/Content/css/customStyles.css" rel="stylesheet">

<div class="row templatemo-content-widget templatemo-login-widget white-bg">
    <div class="col-md-12" style="height:50vh;">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
             <div class="row" style="height: 17%; width:75%; margin-left: 13%; ">
                 @Html.ValidationSummary("", new { @class = "" })
                 <div class="form-group">
                     @Html.LabelFor(m => m.Email, new { @class = "" })
                     <div class="">
                         @Html.TextBoxFor(m => m.Email, new { @class = "width100" })
                     </div>
                 </div>
             </div>
                <div class="row" style="width:75%; margin-left: 13%; height: 20%;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "" })
                        <div class="">
                            @Html.PasswordFor(m => m.Password, new { @class = "width100" })
                        </div>
                    </div>
                </div>
                <div class="row" style="width:75%; margin-left: 13%; height: 20%;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                        <div class="">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "width100" })
                        </div>
                    </div>
                </div>
                <div class="row" style="width:75%; margin-left: 13%; height: 20%;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Practice, htmlAttributes: new { @class = "" })
                        <div class="">
                            @Html.DropDownListFor(m => m.Practice.Id, Model.PracticeList, "--Select One--")
                            @Html.ValidationMessageFor(model => model.PracticeList, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
          
                }
            
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
