@{
    ViewBag.Title = "ROTA Management";
}

@model IEnumerable<NHPL_HQ.Models.File>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="templatemo-content-container">
        <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-1">
                <h2 class="templatemo-inline-block">Welcome To Your Staff Area</h2><hr>
            </div>
            <div class="templatemo-content-widget white-bg col-1 text-center">
                <h2 class="text-uppercase">You have 0 .....</h2>
                @*<h3 class="text-uppercase margin-bottom-10"></h3>
                <img src="images/bicycle.jpg" alt="Bicycle" class="img-circle img-thumbnail">*@
            </div>
            <div class="templatemo-content-widget white-bg col-1">
                <h2 class="text-uppercase">You have 0 ....</h2>
                @*<div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>*@
            </div>
        </div>
        <div class="templatemo-flex-row flex-content-row">
            <div class="col-2">
                <div class="templatemo-content-widget orange-bg">
                    <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading text-uppercase">Another Section</h2>J
                            <p>This is another section in the staff area</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="templatemo-content-widget white-bg">
                    <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading text-uppercase">Another Section 2</h2>
                            <p>This is another section 2 in the staff area</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Second row ends -->
        <div class="templatemo-flex-row flex-content-row templatemo-overflow-hidden">
            <!-- overflow hidden for iPad mini landscape view-->
            <div class="col-1 templatemo-overflow-hidden">
                <div class="templatemo-content-widget white-bg templatemo-overflow-hidden">
                    <i class="fa fa-times"></i>
                    <div class="templatemo-flex-row flex-content-row">
                        <div class="col-1 col-lg-6 col-md-12">
                            <h2 class="text-center">Modular<span class="badge">new</span></h2>
                            <div id="pie_chart_div" class="templatemo-chart"></div> <!-- Pie chart div -->
                        </div>
                        <div class="col-1 col-lg-6 col-md-12">
                            <h2 class="text-center">Interactive<span class="badge">new</span></h2>
                            <div id="bar_chart_div" class="templatemo-chart"></div> <!-- Bar chart div -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-right">
            <p>
                Copyright &copy; 2084 Company Name
                | Design: Template Mo
            </p>
        </footer>
    </div>

@*<table class="table" style="color:white;">
        <tr>
            <td> </td>
            @foreach (var item in Model.ShiftDatesMonday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
            }
        </tr>
        <tr>
            <td>
                Monday
            </td>
            @foreach (var item in Model.ShiftDatesMonday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                </td>
            }
        </tr>
        <tr>
            <td>
                Teusday
            </td>
            @foreach (var item in Model.ShiftDatesTeusday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                </td>
            }
        </tr>
        <tr>
            <td>
                Wednesday
            </td>
            @foreach (var item in Model.ShiftDatesWednesday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                </td>
            }
        </tr>
        <tr>
            <td>
                Thursday
            </td>
            @foreach (var item in Model.ShiftDatesThursday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                </td>
            }
        </tr>
        <tr>
            <td>
                Friday
            </td>
            @foreach (var item in Model.ShiftDatesFriday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                </td>
            }
        </tr>
        <tr>
            <td>
                Saturday
            </td>
            @foreach (var item in Model.ShiftDatesSaturday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                </td>
            }
        </tr>
        <tr>
            <td>
                Sunday
            </td>
            @foreach (var item in Model.ShiftDatesSunday)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserName)
                </td>
            }
        </tr>
    </table>*@


@*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>*@



