<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet">
    <link href="~/Content/css/customStyles.css" rel="stylesheet">
</head>
<body>
    <div class="templatemo-flex-row">
        <div class="templatemo-sidebar">
            <header class="templatemo-site-header">
                @*<div class="square"></div>*@
                <a href="@Url.Action("Index", "Home")"><h1>NHPL HQ</h1></a>
            </header>
            <div class="profile-photo-container">
                <img src="~/Content/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
                <div class="profile-photo-overlay"></div>
            </div>
            <!-- Search box -->
            <form class="templatemo-search-form" role="search">
                <div class="input-group">
                    <button type="submit" class="fa fa-search"></button>
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                </div>
            </form>
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="templatemo-left-nav">
                <ul>
                    <li><a href="~/Home/Index" class="active"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("General Manager") || User.IsInRole("Practice Manager"))
                    {
                        <li>@Html.ActionLink("Upload Rota", "UploadRota", "Rota")</li>
                        <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Practices", "Index", "Practices")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a href="">Holiday Request</a></li>
                        <li><a href="">Shift Swap</a></li>
                        <li><a href="data-visualization.html"><i class="fa fa-bar-chart fa-fw"></i>Profile</a></li>
                    }
                    <li><a href="manage-users.html"><i class="fa fa-users fa-fw"></i>Notifications</a></li>
                    @*<li><a href="~/Account/Login"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>*@
                </ul>
            </nav>
        </div>
        <!-- Main content -->
        <div class="templatemo-content col-1 light-gray-bg">
            <div class="templatemo-top-nav-container">
                    <nav class="templatemo-top-nav navbar-right">
                           @Html.Partial("_LoginPartial")
                    </nav>
            </div>
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="text-right">
        <p>
            Copyright &copy; 2084 Company Name
            | Design: Template Mo
        </p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


